<div class="attempts">
  <table>
    <tr>
      <td>
        <ol>
          <li
            *ngFor="let try of attempts | slice: 0:4; let i = index"
          >
            <span class="fail">{{ try }}</span> => {{ results[i] }}
          </li>
        </ol>
      </td>
      <td>
        <ol>
          <li *ngFor="let try of attempts | slice: 4; let i = index">
            <span class="fail">{{ try }}</span> =>
            {{ results[i + 4] }}
          </li>
        </ol>
      </td>
    </tr>
    <tr rowspan="2"></tr>
  </table>
  <div class="code" *ngIf="attempts.length >= maxAttempts || solved">
    {{ code }}
  </div>
</div>
<div class="myCenter">
  <div id="lock" data-dials="3" class="myLock">
    <div class="lockInset">
      <div class="lockLine"></div>
      <div class="lockWrapper">
        <div class="dial" (click)="dialMove(0)">
          <ol style="top: -50px" #dial1>
            <li *ngFor="let digit of dialLists[0]">{{ digit }}</li>
          </ol>
        </div>
        <div class="dial" (click)="dialMove(1)">
          <ol style="top: -50px" #dial2>
            <li *ngFor="let digit of dialLists[1]">{{ digit }}</li>
          </ol>
        </div>
        <div class="dial" (click)="dialMove(2)">
          <ol style="top: -50px" #dial3>
            <li *ngFor="let digit of dialLists[2]">{{ digit }}</li>
          </ol>
        </div>
        <div class="dial" (click)="dialMove(3)">
          <ol style="top: -50px" #dial4>
            <li *ngFor="let digit of dialLists[3]">{{ digit }}</li>
          </ol>
        </div>
        <div class="shadow"></div>
      </div>
    </div>
    <div
      class="btnEnter button"
      (click)="check()"
      *ngIf="attempts.length <= maxAttempts - 1 && !solved"
    >
      Enter
    </div>
    <div
      class="btnEnter button"
      (click)="ngOnInit()"
      *ngIf="attempts.length >= maxAttempts || solved"
    >
      Reset
    </div>
    <span
      title="🤘 match number and position | 👍 correct number, wrong position | 👎 wrong"
      >ℹ️</span
    >
  </div>
</div>
